<div class="container">
    <br>
    <h2>Choisir un modéle</h2>
    <div class="row">
       <div class="col-md-6">
        <a href="/resume-cv/1">
            <img class="img-fluid" src="/images/Capture2.PNG"/>
        </a>
    </div>  
    <div class="col-md-6">
        <a href="/resume-cv/2">
            <img class="img-fluid" src="/images/Capture1.PNG"/>
        </a>
    </div>
       </div>
</div>
 